.newsGameImg{
    background: url('./images/assas.jpg') no-repeat;
    background-size: 25dvh;
    transition: background-size .4s;
    border-radius: 1dvh;
    height: 13dvh;
    width: 20dvh;
}
.newsGameImg:hover{
    background-size: 27dvh;
    transition: background-size .4s;
}
.mainDivContentFlex{
    display: flex;
    flex-direction: row;
    height: 17dvh;
    column-gap: 2dvh;
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
}
.newsDivContentFlex{
    display: flex;
    flex-direction: column;
    gap: 3.5dvh;
}
.newsGameLink{
    font-size: 2.5dvh;
    width: 41dvh;
    text-wrap: balance;
    word-break: break-all;
    color: white;
}
.newsGameLink:hover{
    color: red;
}
.infoRow_date{
    color: gray;
}